<link rel="stylesheet" href="/assets/css/template_wrapper.css" type="text/css">

<style media="screen">
    .box-a {
        border: thick #737373;
        border-radius: 25px;
        background: linear-gradient(#ffd1d1, #ffb6b6);
        padding: 30px;
        margin-top: 2em;
        margin-bottom: 1em;
        width: fit-content;
        height: auto;
    }

    .font-a {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 110%;
    }

    .p-space {
        margin-top: -1em;
    }

    .cover-up {
        background: #ffffff;
        visibility: hidden;
        display: none;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .shadow {
        box-shadow: 0px 10px 30px #424242;
    }
</style>

<center>
    <div class="box-a font-a shadow">
        <strong>
            This page has been prevented from any access since {{ include.date }}.
        </strong>
        <div class="p-space">
            <br>
        </div>
        We do not provide a certain time at which such restriction will be removed. <br>
        Whilst you may want to read this page, please go for other articles <em>for now</em>. 
        <div class="p-space">
            <br>
        </div>
        Or, you can make contact with me to <strong>request access</strong> to the content.
    </div>
    <br>
</center>

<div class="cover-up">