.font {
    font-family: "Sofia", sans-serif;
    background: linear-gradient(to right, #dc2424, #4a569d);
    color: transparent;
    font-size: 50px;
    background-clip: calc();
    -webkit-background-clip: text !important;
}

.margin {
    margin-top: 1em;
    margin-bottom: 1em;
}